﻿@using Domain.DTO;
@using PagedList.Mvc;
@model Restaurant.UI.ViewModels.PagingViewModel<FoodDTO>

@{
    ViewBag.Title = "Show all foods";
}

<div class="container">
    <h2 class="title" style="text-align: left">Dishes</h2>
    <br />
    @Html.Partial("_StatusMessageForAll", (string)ViewBag.Message)
    <br/>
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="col-md-4">
                <label class="label label-info">Price from:</label>
                @Html.Editor("PriceFrom", new { htmlAttributes = new { @class = "form-control", value = Model.FilterViewModel.PriceFrom } })
            </div>

            <div class="col-md-4">
                <label class="label label-info">Price to:</label>
                @Html.Editor("PriceTo", new { htmlAttributes = new { @class = "form-control", value = Model.FilterViewModel.PriceTo } })
            </div>

            <div class="col-md-4">
                <label class="label label-info">Name:</label>
                @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", value = Model.FilterViewModel.Name } })
            </div>
        </div>

        <div align="center" class="col-md-12" style="margin-top: 10px;">
            <input type="submit" value="Filter" class="btncustom" />
        </div>
    }
    @if (Model.Objects != null)
    {
        <div class="col-md-12 tablewrapper">
            @if (User.IsInRole("admin"))
            {
                <div class="col-md-12" align="right" style="margin-bottom: 10px;">
                    @Html.ActionLink("Create Dish", "CreateFood", "Food", htmlAttributes: new {@class = "btn btn-info"}, routeValues: new {})
                </div>
            }
            <table class="table_custom">
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Price</b></th>
                    <th><b>Description</b></th>
                    @if (User.IsInRole("admin"))
                    {
                        <th></th>
                    }
                </tr>
                @foreach (var food in Model.Objects)
                {
                    <tr>
                        <td>@food.Name</td>
                        <td>@food.Price</td>
                        <td>@food.Description</td>
                        @if (User.IsInRole("admin"))
                        {
                            <td>
                                @if (!food.IsDelete)
                                {
                                    @Html.ActionLink("Remove", "DeleteFood", "Food", htmlAttributes: new {@class = "btn btn-danger"}, routeValues: new {id = food.Id})
                                }
                                else
                                {
                                    @Html.ActionLink("Restore", "RestoreFood", "Food", htmlAttributes: new {@class = "btn btn-success"}, routeValues: new {id = food.Id})
                                }
                                @Html.ActionLink("Edit", "EditFood", "Food", htmlAttributes: new {@class = "btn btn-primary"}, routeValues: new {id = food.Id})
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <br/>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="col-md-6" align="left">
                    Page @(Model.Objects.PageCount < Model.Objects.PageNumber ? 0 : Model.Objects.PageNumber) from @Model.Objects.PageCount
                </div>
                <div class="col-md-6" align="right" style="display: inline-block">
                    <div class="col-md-6" style="width: 100px; margin-left:63%">
                        <select name="PageSize" id="size" onchange="ChangePageSize('#size','#PageSize')" class="form-control" style="width: 100px">
                            <option value="0">default</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-md-5" style="width: 60px; margin-left: 5px;">
                        <form method="get" style="width: 60px;">
                            <input name="page" type="hidden" value="@Model.Objects.PageNumber" />
                            <input name="PriceFrom" type="hidden" value="@Model.FilterViewModel.PriceFrom" />
                            <input name="PriceTo" type="hidden" value="@Model.FilterViewModel.PriceTo" />
                            <input name="Name" type="hidden" value="@Model.FilterViewModel.Name" />
                            <input name="PageSize" type="hidden" id="PageSize" />

                            <input type="submit" value="apply" class="btn btn-info" style="width: 100%" />
                        </form>
                    </div>
                </div>
            </div>

            @Html.PagedListPager(Model.Objects, page => Url.Action("ShowAllFoods",
                new
                {
                    page ,
                    PriceFrom = Model.FilterViewModel.PriceFrom,
                    PriceTo = Model.FilterViewModel.PriceTo,
                    Name = Model.FilterViewModel.Name,
                }))
        </div>
    }
    else
    {
        <div align="center" class="inform">
            <h3 class="text-info">No dishes!</h3>
            @if (User.IsInRole("admin"))
            {
                <p>
                    But you're can create new dishes!
                </p>
                @Html.ActionLink("Create dish", "CreateFood", "Food", htmlAttributes: new { @class = "btn btn-info" }, routeValues: new {})
            }
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/Site.js"></script>
}
