﻿@using Restaurant.UI.Extension
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/CustomStyle.css" rel="stylesheet"/>
    <link href="~/Content/BtnCustomStyle.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top mynavbar enjoy-css">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Restaurant", "ShowAllOrders", "Order", new {area = ""}, new {@class = "navbar-brand brandstyle"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left mycollapseleft">
                <li>@Html.ActionLink("Foods", "ShowAllFoods", "Food")</li>
                <li>@Html.ActionLink("Orders", "ShowAllOrders", "Order")</li>
                @if (User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Users", "ShowAllUser", "User")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right mycollapseright">
                @if (User.Identity.IsAuthenticated)
                {
                    <li style="color: grey; font-size: 15px; bottom: -18px">@User.Identity.Name</li>
                    <li>@Html.ActionLink("Exit", "Logout", "Access")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Access")</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
</div>
<div class="wrapper">
    <footer>
        <ul>
            <li>
                Restaurant
                &copy;@DateTime.Now.Year
            </li>
            <li>
                <ul>
                    <li>@Html.ActionLink("About us", "About", "User")</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </li>
        </ul>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
