﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.StatusCode</title>
</head>
<body>
<hgroup>
    <h1 align="center" class="text-danger" style="margin-top: 10px; margin-bottom: 10px;">OOPS!</h1>
</hgroup>
<div class="col-md-12" align="center">
    <div>
        <h3 class="text-danger">Error @ViewBag.StatusCode</h3>
    </div>
    <div>
        <p class="text-warning">@ViewBag.MessageError</p>
    </div>
</div>
</body>
</html>
