﻿.mynavbar {
    height: 70px;
    background-color: #323232;
}

.enjoy-css {
    float: none;
    z-index: 1;
    cursor: default;
    opacity: 1;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 0 solid;
    border-bottom: 2px solid rgba(48,33,33,1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal normal bold 18px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #31353a;
    background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
    background-image: -moz-linear-gradient(top, #31353a, #2f3337);
    background-image: linear-gradient(top, #31353a, #2f3337);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(56,43,43,0.4);
    box-shadow: 5px 5px 10px 2px rgba(56,43,43,0.4);
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.brandstyle {
    position: absolute;
    bottom: 20px;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal normal bold 35px/1 "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px 1px 0 rgb(77,162,252), -1px -1px 0 rgb(77,162,252), 1px -1px 0 rgb(77,162,252), -1px 1px 0 rgb(77,162,252), 4px 4px 8px rgb(44,88,137), -4px 4px 8px rgb(44,88,137), 4px -4px 8px rgb(44,88,137), -4px -4px 8px rgb(44,88,137);
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.mycollapseleft {
    position: absolute;
    top: 10px;
    right: 400px;
}

.mycollapseright {
    position: absolute;
    right: 10%;
    top: 10px;
}

body {
    z-index: 1;
    background-color: #fff;
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image: radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    padding-top: 100px;
}

footer {
    height: 200px;
    color: #ccc;
    font-size: 12px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    background-color: #31353a;
    background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
    background-image: -moz-linear-gradient(top, #31353a, #2f3337);
    background-image: linear-gradient(top, #31353a, #2f3337);
}

footer > ul{
    width:960px;
    margin-top: 10px;
    margin-left: 30%;
    padding-bottom: 60px;
}

footer > ul > li{
    width:25%;
    float:left;
    margin-top: 50px;
}

footer ul{
    list-style: none;
}

/* Ссылки */

footer > ul > li ul li{
    margin-left:50px;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
}

footer > ul > li ul li a{
    text-decoration: none !important;
    color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
    color:#ddd !important;
}

footer a.logo{
    color: #e4e4e4 !important;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin-left: 16px;
    display: inline-block;
    margin-top: 7px;
}

footer a.logo i{
    font-style: normal;
    position: absolute;
    width: 60px;
    display: block;
    left: 48px;
    top: 18px;
    font-size: 12px;
    color: #999;
}

footer p{
    width: 90%;
    margin-right: 10%;
    padding: 9px 0;
    line-height: 18px;
    background-color: #058cc7;
    font-weight: bold;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    opacity:0.9;
    cursor:default;

    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

footer > ul > li:hover p{
    opacity:1;
}

footer p:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 18px;
    margin: 0 12px 0 15px;
    vertical-align: text-bottom;
}

/*H3*/

.title{
    box-sizing: content-box;
    border: none;
    font: normal 40px Helvetica, sans-serif;
    color: rgba(48,48,48,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}

.inform {
    margin-top: 20%;
}

/*styles for table*/

.tablewrapper {
    margin-top: 50px;
}

.table_custom {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.table_custom th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}

.table_custom tr:nth-child(odd) {
    background: #ebf3f9;
}

.table_custom th:first-child {
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_custom th:last-child {
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_custom td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}

/*Pagination custom setting*/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 1;
}