﻿@model Restaurant.UI.ViewModels.CreateOrderViewModel

@{
    ViewBag.Title = "Create order";
}

<h2 class="title" style="text-align: left">@ViewBag.Title</h2>

@using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12" style="margin-bottom: 30px">
            <div class="col-md-3">
                @Html.LabelFor(model => model.NumberTable, new { @class = "control-label text-info" })
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.NumberTable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberTable, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <input onclick="onButtonClick()" class="btncustom" type="button" value="+">
            </div>
            <div class="col-md-3">
                <input type="submit" value="Create" class="btncustom" />
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 30px">
            <table class="table_custom">
                <thead>
                <tr>
                    <th colspan="2">Dishe name</th>
                    <th>Dishe amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="DynamicExtraFieldsContainer"></tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function onButtonClick() {
            var selectListJson = @Html.Raw(Json.Encode((SelectList)ViewBag.Foods));
            addDynamicExtraField(selectListJson);
            return false;
        }
    </script>
    <script src="~/Scripts/Site.js"></script>
}