﻿@using Domain.DTO
@model OrderDTO

@{
    ViewBag.Title = "Edit order";
}

<h2 class="title" style="text-align: left">@ViewBag.Title</h2><br />

@using (Html.BeginForm("EditOrder", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12" style="margin-bottom: 20px">
            <input type="hidden" name="Id" value="@Model.Id"/>
            @Html.Label("Table number", new {@class = "control-label col-md-2 text-info"})
            <div class="col-md-3">
                @Html.Editor("TableNumber", new {htmlAttributes = new {@class = "form-control", @readonly = "readonly", @value = Model.TableNumber}})
            </div>
            <div class="col-md-3">
                <input type="submit" value="Edit" class="btncustom"/>
            </div>
            <div class="col-md-3">
                <input type="button" onclick="onButtonClick()" value="+" class="btncustom"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" align="left">
                <table class="table_custom">
                    <thead>
                        <tr>
                            <th>Delete dish</th>
                            <th>Amount dish</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (ViewBag.DeleteFoods != null)
                    {
                        foreach (FoodDTO deletefood in ViewBag.DeleteFoods)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="DeleteFoodId" value="@deletefood.Id"/>
                                    <input type="text" value="@deletefood.Name" class="form-control" readonly="readonly"/>
                                </td>
                                <td>
                                    <input type="number" name="DeleteFoodAmount" value="@deletefood.Count" max="@deletefood.Count" min="0"/>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            <div class="form-group col-md-6" align="right">
                <table class="table_custom">
                    <thead>
                        <tr>
                            <th colspan="2">Add dish</th>
                            <th>Amount dish</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="DynamicExtraFieldsContainer"></tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function onButtonClick() {
            var selectListJson = @Html.Raw(Json.Encode((SelectList)ViewBag.AddFoods));
            addDynamicExtraField(selectListJson);
            return false;
        }
    </script>
    <script src="~/Scripts/Site.js"></script>
}
