﻿@using Domain.Enum
@using PagedList.Mvc
@model Restaurant.UI.ViewModels.OrderViewModels.OrderPagingViewModel

@{
    ViewBag.Title = "Show all orders";
}

<div class="container">
    <div class="title" style="text-align: left">Orders</div>
    <br />
    <div>@Html.Partial("_StatusMessageForAll", (string)ViewBag.Message)</div>
    <br/>
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="label label-info">Table number:</label>
                <input name="TableNumber" type="number" class="form-control" value="@Model.FilterViewModel.TableNumber" />
            </div>
            <div class="col-md-3">
                <label class="label label-info">Date Create to:</label>
                <input name="SelectedDateCreateTo"
                       onfocus="(this.type = 'date')"
                       onblur="if (!this.value) this.type = 'text'"
                       class="form-control"
                       value="@Model.FilterViewModel.SelectedDateCreateTo" />
            </div>

            <div class="col-md-3">
                <label class="label label-info">Date Create from:</label>
                <input name="SelectedDateCreateFrom"
                       onfocus="(this.type = 'date')"
                       onblur="if (!this.value) this.type = 'text'"
                       class="form-control"
                       value="@Model.FilterViewModel.SelectedDateCreateFrom" />
            </div>
            @if (!User.IsInRole("cook"))
            {
                <div class="col-md-3">
                    <label class="label label-info">Status:</label>
                    @Html.DropDownList("Status",
                        EnumHelper.GetSelectList(typeof(StatusEnum)),
                        "All status",
                        new {@class = "form-control", value = Model.FilterViewModel.Status})
                </div>
            }
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
            <div align="center" class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="submit" value="Filter" class="btncustom" />
            </div>
        </div>
    }
    @if (Model.Objects != null)
    {
        <div class="col-md-12 tablewrapper">
            @if (User.IsInRole("waiter"))
            {
                <div class="col-md-12" align="right" style="margin-bottom: 10px;">
                    @Html.ActionLink("Create order", "CreateOrder", "Order", htmlAttributes: new { @class = "btn btn-info" })
                </div>
            }
            <table class="table_custom">
                <tr>
                    <th><b>Table number</b></th>
                    <th><b>Count dishes</b></th>
                    <th><b>Price</b></th>
                    <th><b>Status</b></th>
                    <th><b>Date of create</b></th>
                    <th><b>Date of edite</b></th>
                    @if (User.IsInRole("waiter") || User.IsInRole("cook"))
                    {
                        <th></th>
                    }
                </tr>
                @foreach (var order in Model.Objects)
                {
                    <tr>
                        <td>@order.First().TableNumber</td>
                        <td>@Html.ActionLink(order.Sum(o => o.DishesCount).ToString(), "ShowFoodsInOrder", htmlAttributes: new { }, routeValues: new { orderId = order.First().Id })</td>
                        <td>@order.First().Price</td>
                        <td>@((StatusEnum)order.First().Status)</td>
                        <td>@order.First().DateOfCreate.ToString("dd.MM.yyyy hh:mm:ss")</td>
                        <td>@(order.First().DateOfCreate == order.First().DateOfEdite ? "Not changed" : order.First().DateOfEdite.ToString("dd.MM.yyyy hh:mm:ss"))</td>
                        @if (User.IsInRole("waiter") || User.IsInRole("cook"))
                        {
                            <td>
                                @if ((StatusEnum)order.First().Status == StatusEnum.Accepted)
                                {
                                    @Html.ActionLink("Edite", "EditOrder", "Order", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = order.First().Id })

                                }
                                @if (order.First().IsDelete)
                                {
                                    @Html.ActionLink("Restore", "RestoreOrder", "Order", htmlAttributes: new { @class = "btn btn-success" }, routeValues: new { id = order.First().Id })
                                }
                                else
                                {
                                    @Html.ActionLink("Remove", "DeleteOrder", "Order", htmlAttributes: new { @class = "btn btn-danger" }, routeValues: new { id = order.First().Id })
                                }
                                @if (User.IsInRole("waiter") && (StatusEnum)order.First().Status == StatusEnum.Ready ||
                                     (StatusEnum)order.First().Status == StatusEnum.Filed ||
                                     User.IsInRole("cook") && (StatusEnum)order.First().Status == StatusEnum.Accepted)
                                {
                                    @Html.ActionLink("Change status", "ChangeStatusOrder", "User", htmlAttributes: new { @class = "btn btn-info" }, routeValues: new { orderId = order.First().Id })
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="col-md-6" align="left">
                    Page @(Model.Objects.PageCount < Model.Objects.PageNumber ? 0 : Model.Objects.PageNumber) from @Model.Objects.PageCount
                </div>
                <div class="col-md-6" align="right" style="display: inline-block">
                    <div class="col-md-6" style="width: 100px; margin-left:63%">
                        <select name="PageSize" id="size" onchange="ChangePageSize('#size','#PageSize')" class="form-control" style="width: 100px">
                            <option value="0">default</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-md-5" style="width: 60px; margin-left: 5px;">
                        <form method="get" style="width: 60px;">
                            <input name="page" type="hidden" value="@Model.Objects.PageNumber"/>
                            <input name="TableNumber" type="hidden" value="@Model.FilterViewModel.TableNumber"/>
                            <input name="SelectedDateCreateTo" type="hidden" value="@Model.FilterViewModel.SelectedDateCreateTo"/>
                            <input name="SelectedDateCreateTo" type="hidden" value="@Model.FilterViewModel.SelectedDateCreateTo"/>
                            <input name="Status" type="hidden" value="@Model.FilterViewModel.Status"/>
                            <input name="PageSize" type="hidden" id="PageSize"/>

                            <input type="submit" value="apply" class="btn btn-info" style="width: 100%"/>
                        </form>
                    </div>
                </div>
            </div>

            @Html.PagedListPager(Model.Objects, page => Url.Action("ShowAllOrders",
                new
                {
                    page,
                    TableNumber = Model.FilterViewModel.TableNumber,
                    SelectedDateCreateTo = Model.FilterViewModel.SelectedDateCreateTo,
                    SelectedDateCreateFrom = Model.FilterViewModel.SelectedDateCreateFrom,
                    Status = Model.FilterViewModel.Status,
                    PageSize = Model.FilterViewModel.PageSize
                }))
        </div>
    }
    else
    {
        <div align="center">
            <h3 align="center" class="text-info inform">No orders!</h3>
            @if (User.IsInRole("waiter"))
            {
                <p>
                    But you're can create new orders!
                </p>
                @Html.ActionLink("Create order", "CreateOrder", "Order", htmlAttributes: new { @class = "btn btn-info" })
            }
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/Site.js"></script>
}




