﻿@model IEnumerable<Restaurant.UI.ViewModels.ShowFoodsViewModel>

@{
    ViewBag.Title = "Show foods in order";
}

<h2 class="title" style="text-align: left">Foods in order</h2>
<br />
@if (Model.Any())
{
    <table class="table_custom" style="margin-bottom: 30px">
        <tr>
            <th><b>Name</b></th>
            <th><b>Price</b></th>
            <th><b>Description</b></th>
            <th><b>Count</b></th>
        </tr>
        @foreach (var food in Model)
        {
            <tr>
                <td>@food.Name</td>
                <td>@food.Price</td>
                <td>@food.Description</td>
                <td>@food.Count</td>
            </tr>
        }
    </table>
}
else
{
    <h3 align="center" class="text-info">No have dishe!</h3>
}

