﻿
@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2 align="center" class="text-info" style="font-family:fantasy">About us</h2>

    <div class="col-md-12" style="border: 1px solid grey; border-radius: 10px; margin-bottom: 50px;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
            <i>Lorem</i> ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum <i>Sed</i>
            imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
            Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Curabitur <i>nulla.</i> sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.
            Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.
            Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis <i>Aenean</i> vel, suscipit 
            <i>sem.</i> quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
            ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec <i>aptent</i> ante. Sed lacinia, <i>litora</i>
            urna <i>nibh.</i> non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis <i>urna</i> turpis.
            Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat <i>diam,</i> mi a tellus <i>non</i> consequat imperdiet.
            Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod
            lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, <i>suscipit.</i> sem massa mattis sem, at interdum magna
            augue eget diam. Vestibulum ante ipsum primis <i>magna.</i> in faucibus orci luctus et ultrices posuere cubilia Curae;
            Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in 
            ipsum <i>dolor.</i> sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec.
        </p>
    </div>
</div>