﻿@using Domain.DTO;
@using Domain.Enum
@using PagedList.Mvc
@model Restaurant.UI.ViewModels.PagingViewModel<UserDTO>

@{
    ViewBag.Title = "Show all users";
}

<div class="container">
    <h2 class="title" style="text-align: left">Users</h2>
    <br/>
    @Html.Partial("_StatusMessageForAll", (string)ViewBag.Message)
    <br/>
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="col-md-4">
                <label class="label label-info">Name:</label>
                @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", value = Model.FilterViewModel.Name } })
            </div>
            
            <div class="col-md-4">
                <label class="label label-info">Email:</label>
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", value = Model.FilterViewModel.Email } })
            </div>

            <div class="col-md-4">
                <label class="label label-info">Role:</label>
                @Html.DropDownList("Role",
                    EnumHelper.GetSelectList(typeof(RoleEnum)).Take(2),
                    "All roles",
                    new {@class = "form-control", value = Model.FilterViewModel.Role})
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
            <div align="center" class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="submit" value="Filter" class="btncustom"/>
            </div>
        </div>
    }
    @if (Model.Objects != null)
    {
        <div class="col-md-12 tablewrapper">
            <div class="col-md-12" align="right" style="margin-bottom: 10px;">
                @Html.ActionLink("Create User", "RegisterUser", "User", htmlAttributes: new {@class = "btn btn-info"}, routeValues: new {})
            </div>
            <table class="table_custom">
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Email</b></th>
                    <th><b>Address</b></th>
                    <th><b>Role</b></th>
                    <th></th>
                </tr>
                @foreach (var user in Model.Objects)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Address</td>
                        <td>@((RoleEnum) user.Role)</td>
                        <td>
                            @Html.ActionLink("Edite", "EditUser", "User", htmlAttributes: new {@class = "btn btn-primary"}, routeValues: new {userId = user.Id})
                            @Html.ActionLink("Delete", "DeleteUser", "User", htmlAttributes: new {@class = "btn btn-danger"}, routeValues: new {userId = user.Id})
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br/>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="col-md-6" align="left">
                    Page @(Model.Objects.PageCount < Model.Objects.PageNumber ? 0 : Model.Objects.PageNumber) from @Model.Objects.PageCount
                </div>
                <div class="col-md-6" align="right" style="display: inline-block">
                    <div class="col-md-6" style="width: 100px; margin-left:63%">
                        <select name="PageSize" id="size" onchange="ChangePageSize('#size','#PageSize')" class="form-control" style="width: 100px">
                            <option value="0">default</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-md-5" style="width: 60px; margin-left: 5px;">
                        <form method="get" style="width: 60px;">
                            <input name="page" type="hidden" value="@Model.Objects.PageNumber" />
                            <input name="Email" type="hidden" value="@Model.FilterViewModel.Email" />
                            <input name="Role" type="hidden" value="@Model.FilterViewModel.Role" />
                            <input name="Name" type="hidden" value="@Model.FilterViewModel.Name" />
                            <input name="PageSize" type="hidden" id="PageSize" />

                            <input type="submit" value="apply" class="btn btn-info" style="width: 100%" />
                        </form>
                    </div>
                </div>
            </div>

            @Html.PagedListPager(Model.Objects, page => Url.Action("ShowAllUser",
                new
                {
                    page ,
                    Name = Model.FilterViewModel.Name,
                    Email = Model.FilterViewModel.Email,
                    Role = Model.FilterViewModel.Role
                }))
        </div>
    }
    else
    {
        <div align="center">
            <h4 class="text-info inform">No users!</h4>
            @Html.ActionLink("Create worker", "RegisterUser", htmlAttributes: new { @class = "btn btn-link" }, routeValues: new { })
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/Site.js"></script>
}
